:root {
  --prototip: #141312;
  --tekst: #1a212f;
  --oranzhevyy: #ff7236;
  --zheltyy: #fac663;
  --belyy: #fffefd;
  --font-family: "Lato", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "Boomboom", sans-serif;
}

@font-face {
  font-family: "Boomboom";
  src: url(assets/fonts/boomboom.otf);
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  src: url(assets/fonts/Lato-SemiBold.ttf);
  src: url(assets/fonts/Lato-Medium.ttf);
  src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(assets/fonts/Rubikmedium.ttf);
  src: url(assets/fonts/Rubikbold.ttf);
}

html {
  box-sizing: border-box;
  background: var(--belyy);
  color: var(--tekst);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
}

section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
}

.wrap {
  margin: 0 auto;
  width: 1170px;
}

/*header*/

header .wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.main_menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
}

.main_menu li {
  margin-top: 3px;
}

/*header end*/

/*main*/

.main_title {
  padding: 149px 0 153px 100px;
}

.main_title h1{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 62px;
  margin-bottom: 3px;
}

.main_title_subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 37px;
}

.main_title__city {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: -1px;
}

.button {
  border-radius: 25px;
  width: 206px;
  height: 50px;
  background: var(--belyy);
  box-shadow: 0 5px 25px 0 rgba(26, 13, 47, 0.1);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  padding-left: 30px;
}

#main {
  background-image: url(assets/main_bg/Vector.svg),
                    url(assets/main_bg/котик\ 1.png),
                    linear-gradient(70deg, #f0c971 0%, rgba(240, 201, 113, 0) 100%), 
                    linear-gradient(90deg, rgba(240, 201, 113, 0.43) 40.85%, rgba(240, 201, 113, 0) 56.67%);
                     /* url(assets/main_bg/котейка\ \(1\)\ 1.jpg); */
  overflow: hidden;
  background-repeat: no-repeat;
  background-position:  center
                        center
                        center;
  background-size: contain, contain, cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*main end*/

/* advantages */

#advantages {
  padding-top: 133px;
  background-image: url(assets/advantages_bg/paw.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

#advantages .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 13px;
}

.section_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 60px;
}

.card {
  border-radius: 8px;
  width: 370px;
  box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
  background: #fff;
  padding: 30px 0 30px 30px;
}

.card svg {
  margin-bottom: 24px;
}

.card_title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 6px;
}

.card_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

/*advantages end*/

/* rooms */

#rooms {
  padding-top: 165px;
  background-image: url(assets/rooms_imgs/fish.svg);
  background-repeat: no-repeat;
  background-position: 0 183px;
}

.slider {
}
.slider_wrap {
  max-width: 1100px;
  margin-left: auto;
}

.slider_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.slider_img {
  max-width: 600px;
  position: relative;
  z-index: 0;
}

.room_description {
  max-width: 523px;
  padding: 40px 117px 40px 99px;
  box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  position: absolute;
  right: 67px;
  z-index: 1;
  /* left: -71px; */
  background-color: var(--belyy);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room_description h4 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
}

.room_description_ul {
  /* list-style-image: url(assets/rooms_imgs/marker.svg); */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.room_description ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  padding-left: 23px;
  position: relative;
}

.room_description_ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px; /* Размер маркера */
  height: 16px;
  background-image: url("assets/rooms_imgs/marker.svg");
  background-size: cover;
}

.button_book {
  background: var(--oranzhevyy);
  color: var(--belyy);
}

.slider_controls {
  max-width: 545px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider_controls_active circle{
  fill: var(--zheltyy);
}

.points {
}

.arrows {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}

.arrow_wrap {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 25px 0 rgba(26, 13, 47, 0.1);
}

.arrow_wrap_right-arrow {
  rotate: 180deg;
}

.slider_wrap_reviews {
}
.slider_items_reviews {
}
.reviews_card {
}
.reviews_logo_wrap {
}
.rewies_card_description {
}
.signature {
}
.name {
}
.date {
}
.contacts_item {
}
.contacts_item_title {
}
.contacts_item_subtitle {
}
.map_wrap {
}
.rigts {
}
.politic {
}