:root {
  --prototip: #141312;
  --tekst: #1a212f;
  --oranzhevyy: #ff7236;
  --zheltyy: #fac663;
  --belyy: #fffefd;
  --font-family: "Lato", sans-serif;
  --second-family: "Rubik", sans-serif;
  --third-family: "Boomboom", sans-serif;
}

html {
  box-sizing: border-box;
  background: var(--belyy);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  max-width: 100%;
}

.wrap {
  margin: 0 auto;
  width: 1170px;
}

header .wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.main_menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.main_title {
}
.pet {
}
.section_title {
}
.card {
}
.pict_wrap {
}
.card_title {
}
.card_text {
}
.slider {
}
.slider_wrap {
}
.slider_item {
}
.slider_img {
}
.room_description {
}
.slider_controls {
}
.points {
}
.arrows {
}
.slider_wrap_reviews {
}
.slider_items_reviews {
}
.reviews_card {
}
.reviews_logo_wrap {
}
.rewies_card_description {
}
.signature {
}
.name {
}
.date {
}
.contacts_item {
}
.contacts_item_title {
}
.contacts_item_subtitle {
}
.map_wrap {
}
.rigts {
}
.politic {
}